<% content_for :title, "Workouts" %>

<div class="w-full max-w-4xl self-center">
  <% if notice.present? %>
    <p
      class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block"
      id="notice"
    ><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="text-2xl">Workouts</h1>
    <%= button "Start workout", style: "primary", type: "link", route: new_workout_path %>
  </div>

  <%= turbo_frame_tag "calendar" do %>
    <%= render(CalendarComponent.new(
      current_date: @current_date,
      calendar_start: @calendar_start,
      calendar_end: @calendar_end,
      workouts_by_date: @workouts_by_date,
      prev_month: @prev_month,
      next_month: @next_month
    )) %>
  <% end %>
</div>
