services:
  web:
    build: .
    volumes:
      - ./storage:/rails/storage
    environment:
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
    ports:
      - "${EXPOSED_PORT}:80"

  jobs:
    build: .
    command: bin/jobs
    volumes:
      - ./storage:/rails/storage
    environment:
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}

