services:
  web:
    image: yratanov/workout_bro:latest
    build: .
    volumes:
      - ./storage:/rails/storage
    ports:
      - "${EXPOSED_PORT:-3000}:80"
    environment:
      - DISABLE_SSL=${DISABLE_SSL:-true}
    restart: unless-stopped

  jobs:
    image: yratanov/workout_bro:latest
    build: .
    command: bin/jobs
    volumes:
      - ./storage:/rails/storage
    environment:
      - DISABLE_SSL=${DISABLE_SSL:-true}
    restart: unless-stopped
    depends_on:
      - web

