services:
  web:
    build: .
    volumes:
      - ./storage:/rails/storage
      - /var/log/openvpn/status.log:/rails/status.log 
    environment:
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
    ports:
      - "${EXPOSED_PORT}:80"

