---
- name: Setup Rails app Docker
  hosts: workout_bro
  vars_files:
    - vars/config.yml
  
  tasks:
    - name: Clone repo
      git:
        repo: "{{ repo_url }}"
        dest: "{{ clone_dest }}"
        version: main
        update: yes
        accept_hostkey: yes

    - name: Copy master.key to the remote server
      ansible.builtin.copy:
        src: ./app/config/master.key
        dest: /tmp/master.key
        mode: '0600'  # Secure the file permissions

    - name: Read the content of master.key to set RAILS_MASTER_KEY
      ansible.builtin.slurp:
        src: /tmp/master.key
      register: master_key 
      
    - name: Set RAILS_MASTER_KEY in .env file
      ansible.builtin.copy:
        dest: "{{ vpn_app_path }}/.env"
        content: |
          RAILS_MASTER_KEY={{ master_key.content | b64decode }}
          EXPOSED_PORT={{ exposed_port }}
        owner: "{{ current_user }}"
        group: "{{ current_user }}"
        mode: '0600'
      
    - name: Run Rails container with docker-compose
      ansible.builtin.command:
        cmd: docker-compose up -d --build
        chdir: "{{ vpn_app_path }}"
      environment:
        DOCKER_BUILDKIT: "1"
