---
- name: Setup Rails app Docker
  hosts: workout_bro
  vars_files:
    - vars/config.yml
  
  tasks:
    - name: Clone repo
      git:
        repo: "{{ repo_url }}"
        dest: "{{ clone_dest }}"
        version: main
        update: yes
        accept_hostkey: yes

    - name: Run Rails container with docker-compose
      ansible.builtin.command:
        cmd: docker-compose up -d --build
        chdir: "{{ clone_dest }}"
      environment:
        DOCKER_BUILDKIT: "1"
        
    - name: Run database migrations
      command: docker-compose exec web bundle exec rails db:migrate
      args:
        chdir: "{{ clone_dest }}"

