<% content_for :title, @workout_routine_day.name %>

<div class="w-full max-w-2xl">
  <div class="flex items-center gap-3 mb-6">
    <%= button route: workout_routine_path(@workout_routine_day.workout_routine),
      type: "link",
      style: "link" do %>
      <%= icon "arrow_left" %>
    <% end %>
    <h1 class="font-bold text-2xl"><%= @workout_routine_day.workout_routine.name %></h1>
  </div>

  <%= render "form", workout_routine_day: @workout_routine_day %>
</div>
