<% content_for :title, t(".title") %>

<div class="w-full max-w-2xl">
  <div class="flex items-center gap-3 mb-6">
    <%= button route: workout_routine_path(@workout_routine_day.workout_routine),
      type: "link",
      style: "link" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-4 w-4" fill="currentColor">
        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
      </svg>
    <% end %>
    <h1 class="font-bold text-2xl"><%= t(".title") %></h1>
  </div>

  <%= render "form", workout_routine_day: @workout_routine_day %>
</div>
