<% content_for :title, "New workout routine day" %>

<div>
  <h1 class="font-bold text-4xl">Add workout routine day</h1>

  <%= render "form", workout_routine_day: @workout_routine_day %>

  <div class="mt-5">
    <%= button "Back to routine",
    route: workout_routine_path(@workout_routine_day.workout_routine),
    type: "link",
    style: "outlined" %>
  </div>
</div>
