<div class="mb-2">
  <%= render workout_set.workout_reps.filter(&:persisted?) %>
</div>
<% unless workout_set.ended? %>
  <div class="flex mb-1 gap-2">
    <div>
      Rest:
    </div>
    <div
      data-controller="timer"
      data-timer-date-value="<%= workout_set.workout_reps.filter(&:persisted?).last&.updated_at || DateTime.now %>"
    ></div>
  </div>
  <%= render "workout_reps/form",
  workout_rep:
    workout_set.workout_reps.new(
      weight: workout_rep.weight,
      reps: workout_rep.reps,
    ) %>
<% end %>
