<div class="mb-2">
  <%= render collection: workout_set.workout_reps.filter(&:persisted?),
  partial: "workout_reps/workout_rep",
  locals: {
    delete_visible: true,
  } %>
</div>
<% unless workout_set.ended? %>
  <div class="flex mb-1 gap-2 border-t border-slate-400 pt-2">
    <div class="mb-2">
      Rest:
    </div>
    <div
      data-controller="timer"
      data-timer-date-value="<%= workout_set.workout_reps.filter(&:persisted?).last&.updated_at || DateTime.now %>"
    ></div>
  </div>
  <%= render "workout_reps/form",
  workout_rep:
    workout_set.workout_reps.new(
      weight: workout_rep.weight,
      reps: workout_rep.reps,
    ) %>
<% end %>
