<div class="flex gap-2">
  <div class="w-[20px] text-right">
    <%= workout_rep.reps %>
  </div>
  <div class="font-bold text-center">
    x
  </div>
  <div class="w-[50px]">
    <%= workout_rep.weight %>KG
  </div>
</div>
