<%= turbo_frame_tag ["reps"] do %>
  <div class="mb-2">
    <%= render @workout_set.workout_reps %>
  </div>
  <%= render "workout_reps/form",
  workout_rep:
    @workout_set.workout_reps.new(
      weight: @workout_rep.weight,
      reps: @workout_rep.reps,
    ) %>
<% end %>
