<nav class="w-64 shrink-0">
  <ul class="space-y-1">
    <% menu_items.each do |item| %>
      <li>
        <%= link_to item[:path], class: item_classes(item[:key]) do %>
          <%= icon(item[:icon], size: "w-5 h-5") %>
          <span><%= t("settings.menu.#{item[:key]}") %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
