<%= app_form_with(model: workout_routine_day_exercise, url: workout_routine_workout_routine_day_workout_routine_day_exercises_path(workout_routine_day_exercise.workout_routine_day.workout_routine, workout_routine_day_exercise.workout_routine_day), class: "contents") do |form| %>
  <div class="flex gap-4 items-end">
    <div class="flex-1">
      <%= form.hidden_field :workout_routine_day_id %>
      <%= form.collection_select(
        :exercise_id,
        ::Exercise
          .order(:name)
          .uniq
          .without(workout_routine_day_exercise.workout_routine_day.exercises),
        :id,
        :name,
        {},
        { class: "w-full bg-slate-800 border border-slate-600 text-white rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-blue-500" },
      ) %>
    </div>

    <div>
      <%= form.submit t("shared.buttons.save") %>
    </div>
  </div>
<% end %>
