<% content_for :title, "Exercises" %>

<div class="lg:min-w-[600px]">
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl">Exercises</h1>
    <%= button "New exercise", route: new_exercise_path, style: "primary", type: "link" %>
  </div>

  <div id="exercises" class="divide-y divide-gray-400 space-y-2">
    <% if @exercises.any? %>
      <% @exercises.each do |exercise| %>
        <div
          class="
            flex justify-between items-center
          "
        >
          <div class="flex gap-4">
            <div>
              <%= button exercise.name, route: exercise, style: "link", type: "link" %>
            </div>
            <div>
              <%= exercise.muscles %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No exercises found.</p>
    <% end %>
  </div>
</div>
