<% content_for :title, "New exercise" %>

<div class="lg:min-w-[600px]">
  <h1 class="font-bold text-4xl">New exercise</h1>

  <%= render "form", exercise: @exercise %>

  <%= button "Back to exercises",
  route: exercises_path,
  type: "link",
  style: "outlined" %>
</div>
